<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<string>享受</string>
	<key>item1</key>
	<string>AAAAAAAAAA</string>
	<key>item2</key>
	<string>自己</string>
	<key>item3</key>
	<string>同伴ss</string>
	<key>item4</key>
	<string>sasasasas</string>
</dict>
</plist>
